<!doctype html>
<html>
    <head>
        <title>Java Recommendation Service</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <style>
            body {
                word-wrap: break-word;
            }
        </style>
        <script type='text/javascript' src='/jquery/jquery.min.js'></script>
    </head>
    <body>
        <div class="container" id="container">

            <div class="page-header text-center">
                <h1><span class="fa fa-compass"></span> Java Recommendation Service</h1>
                <h2><span class="fa fa-bolt"></span> Recommendations Page</h2>
            </div>

            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><h3>Recommendations</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% recs.forEach(function(rec, i) { %>
                    <tr>
                        <td>
                            <h4><strong>Recommended Item <%= i + 1 %>:</strong><br/></h4>
                            <h4><strong><%= rec["_source"]["title"] %></strong></h4>
                            <br/>
                            <%- rec["_source"]["html"] %>
                            <br/>
                            <strong>For additional info:<br/></strong>
                            <a target="_blank" href=<%- rec["_source"]["url"] %>><%- rec["_source"]["url"] %></a>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>
